html {background-image: url(../images/bg.gif);}
/*html {background: url(../images/bt.jpg) center top;}*/

body, html {height: 100%}


.gradient {
	border: 1px solid black;

	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: -webkit-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -moz-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -o-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -ms-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	-image filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#0b0b0b',GradientType=0 );

}

#boss {
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
	
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 20px;
	margin:0px auto;
/*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/

	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.player {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 100%;
	margin: 0 auto;
	display: block;
	overflow: hidden;


	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button {
	display: block;
	width: 34px;
	height: 34px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
}

#control.play {
	background-position: 6px 5px;
}

#control {
	background-position: -32px 5px;
}

#volume.mute {
	background-position: -63px 5px;
}

#volume {
	background-position: -106px 5px;
}

#stop {
	background-position: -146px 5px;
	display: block;
}

.volume {
	position: absolute;
	height: 100px;
	width: 34px;
	border: 1px solid black;
	background-color: #242323;
	top: -97px;
	display: none;
}

#progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	
	border: 1px solid black;
	display: block;
	width: 60%;
	height: 15px;
	float:left;
	margin-left:12px;
	margin-top: 10px;
	margin-bottom:40px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #242323;

	-webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);

/*		margin:10px auto 40px;
		float:none;*/
}

#progress.ui-slider-horizontal.ui-slider {background:#242323;}

#progress.ui-slider-horizontal .ui-slider-handle {
	display: block;
	width: 20px;
	height: 20px;
	top:-3px;
	border:1px solid black;

	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #80e4df;
	background: -webkit-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
	background: -moz-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
	background: -o-linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
	background: linear-gradient(top, #80e4df 0%, #75dbd6 13%, #5ec4bf 33%, #57bbb6 47%, #419d99 80%, #378f8b 100%);
}

#time {position: relative;height: 0;clear: both;}

#time span {
	position: absolute;
	top:-16px; left:5px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 	
	font-size:10px;
	color:#83C4C0;
}

#meta {

	border: 1px solid black;
	display:block;
	margin:0 auto;
	padding:10px;
	clear:both;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #222;

	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,.6);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,.6);
	
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}

#meta a {
	display:block;
	background:#303030;
	color:#83C4C0;
	font-size:12px;
	padding:5px;
	margin:5px;
	cursor:pointer;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;	
}

#meta a:hover, #meta a.on {background:#444;}


/* redesign */
#boss {overflow: auto;}
#progress {margin:10px auto 40px;float:none;width:30%;}
#stop {display: inline-block;}
#buttons {width:150px;margin:0 auto;}
.button {float:none;display:inline-block;}
#meta {margin-bottom: 30px}
#time {width:30%;margin:0 auto;}
#time span {right:0;left:auto;top:-35px;}


/** smartphone (landscape)**/
@media only screen and (min-width : 321px) and (max-width : 480px) {
	
}

/** smartphone (portrait)**/
@media only screen and (max-width : 320px) {

}

/** smartphone (portrait and landscape)**/
@media only screen and (min-width : 320px) and (max-width : 480px) {

	#progress {
		width:80%;
	}

	#time {width:80%;}	

	#meta a {padding:15px 10px;font-size:14px;}

}



