html {
	/*
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: -webkit-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -moz-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -o-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -ms-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	-image filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#0b0b0b',GradientType=0 );
	*/

	background: #45484d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

body a {text-decoration: none;}

#theboss {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	/*padding: 20px;*/
	margin:0px auto;

	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: 0px 0px 13px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
}

#audio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 100%;
	margin: 10px auto 0;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#buttons {
	width:280px;
	margin:20px auto 0;
}


.button {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url(../images/sprite3.png);
	background-repeat: no-repeat;
	margin: 0 10px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
}

#control {
	background-position: -95px -13px;
	/*background-position: -32px 5px;*/
}

#control.play {
	background-position: -15px -13px;
	/*background-position: 6px 5px;*/
}

#volume {
	background-position: -360px -12px;
	/*background-position: -106px 5px;*/
}

#volume.mute {
	background-position: -273px -12px;
	/*background-position: -63px 5px;*/
}

#stop {
	display: none;
	background-position: -180px -12px;
	/*background-position: -146px 5px;*/	
}

.arrow {
	width:30px;
/*	position: absolute;
	top:-86px;
	left:-50px;*/
}

.prev {
	background-position: -525px -12px;
}

.next {
	background-position: -444px -12px;
	left:auto;right:-50px;
}

#progress {
	display: block;
	float:none;
	width:30%;
	height: 30px;
	margin:30px auto 40px;
	border: 1px solid black;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #242323;

	-webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
}

#progress.ui-slider-horizontal.ui-slider {
	background:#242323;
}

#progress.ui-slider-horizontal .ui-slider-handle {
	display: block;
	width: 34px;
	height: 34px;
	top:-3px;
	border:1px solid black;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;	
	border-radius: 20px;

	background: #ed7931; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNzkzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZTVjMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ed7931 0%, #ee5c00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed7931), color-stop(100%,#ee5c00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ed7931 0%,#ee5c00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ed7931 0%,#ee5c00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ed7931 0%,#ee5c00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ed7931 0%,#ee5c00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7931', endColorstr='#ee5c00',GradientType=0 ); /* IE6-8 */
}

#meta {
	position: relative;
	height: 0;
	width:30%;
	margin:0 auto;
	clear: both;
}

#meta span {
	position: absolute;
	top:-35px; right:0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 	
	font-size:16px;
	color:#EE5C00;
}

#meta .name {
	right:auto;left:0;display: none;
}

#tracks {
	border: 1px solid black;
	display:block;
	margin:0 auto 30px;
	padding:10px;
	width:90%;
	clear:both;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #1E1E1E;

	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,.6);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,.6);
}

#tracks a {
	display:block;
	background:#2F3134;
	color:#EE5C00;
	font-size:16px;
	padding:15px 10px;
	margin:8px 5px;
	cursor:pointer;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;	
}

#tracks a.on {
	background:#EE5C00;
	color:#000;
}


/** smartphone (landscape) **/
@media only screen and (min-width : 321px) and (max-width : 480px) {
	
}

/** smartphone (portrait) **/
@media only screen and (max-width : 320px) {

}

/** smartphone (portrait and landscape) **/
@media only screen and (min-width : 320px) and (max-width : 480px) {

	#meta,
	#progress {
		width:80%;
	}	

}

/** greater than 481 width **/
@media only screen and (min-width : 481px) {
	
	body, 
	html {
		height: 100%
	}

	#tracks a:hover {
		background:#26282B;
		color:#EE5C00;
	}

	#tracks a.on:hover {
		background:#EE5C00;
		color:#000;
	}	

	.button:hover {
		opacity: 0.75;
		filter:alpha(opacity=75);
	}
}